<div id="header" class="container">
    <div id="logo">
        <a href="/"><img src="/img/Flux-logo.png"/></a>
    </div>
    <nav id="menu">
        <a {% if page.name == 'index.md' %}class="active"{% endif %} href="/">Home</a>
        <a {% if page.name == 'societeit.md' %}class="active"{% endif %} href="/societeit">Sociëteit</a>
        <a {% if page.name == 'verhuur.md' %}class="active"{% endif %} href="/verhuur">Verhuur</a>
        <a {% if page.name == 'contact.md' %}class="active"{% endif %} href="/contact">Contact</a>
    </nav>
</div>